
CREATE TABLE [dbo].[tb_cliente](
	[numero_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome_cliente] [nvarchar](250) NULL,
	[morada] [nvarchar](500) NULL,
	[codigo_postal] [nvarchar](8) NULL,
	[localidade] [nvarchar](250) NULL,
	[telefone] [nvarchar](9) NULL,
	[telemovel] [nvarchar](9) NULL,
	[email] [nvarchar](500) NULL,
	[nif] [nchar](9) NULL,
 CONSTRAINT [PK_tb_cliente] PRIMARY KEY CLUSTERED 
(
	[numero_cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_veterinario](
	[codigo_veterinario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](250) NULL,
	[morada] [nvarchar](500) NULL,
	[codigo_postal] [nvarchar](8) NULL,
	[localidade] [nvarchar](250) NULL,
	[telefone] [nvarchar](9) NULL,
	[telemovel] [nvarchar](9) NULL,
	[email] [nvarchar](250) NULL,
	[escola_licenciatura] [nvarchar](250) NULL,
 CONSTRAINT [PK_tb_veterinario] PRIMARY KEY CLUSTERED 
(
	[codigo_veterinario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_tipo_animal](
	[codigo_tipo_animal] [int] IDENTITY(1,1) NOT NULL,
	[tipo_animal] [nvarchar](250) NULL,
	[descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_tipo_animal] PRIMARY KEY CLUSTERED 
(
	[codigo_tipo_animal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_raca](
	[codigo_raca_animal] [int] IDENTITY(1,1) NOT NULL,
	[raca] [nvarchar](250) NULL,
	[nome_cientifico] [nvarchar](500) NULL,
	[caracteristicas] [nvarchar](max) NULL,
	[origem] [nvarchar](max) NULL,
	[codigo_tipo_animal] [int] NULL,
 CONSTRAINT [PK_tb_raca] PRIMARY KEY CLUSTERED 
(
	[codigo_raca_animal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_animal](
	[numero_animal] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](250) NULL,
	[codigo_raca_animal] [int] NULL,
	[data_nascimento] [smalldatetime] NULL,
	[peso] [int] NULL,
	[altura] [int] NULL,
	[descricao] [nvarchar](max) NULL,
	[numero_cliente] [int] NULL,
 CONSTRAINT [PK_tb_animal] PRIMARY KEY CLUSTERED 
(
	[numero_animal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_consulta](
	[numero_consulta] [int] IDENTITY(1,1) NOT NULL,
	[data] [smalldatetime] NULL,
	[custo] [money] NULL,
	[descricao] [nvarchar](max) NULL,
	[codigo_animal] [int] NULL,
	[codigo_veterinario] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[numero_consulta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_animal]  WITH CHECK ADD  CONSTRAINT [FK_tb_animal_tb_cliente] FOREIGN KEY([numero_cliente])
REFERENCES [dbo].[tb_cliente] ([numero_cliente])
GO
ALTER TABLE [dbo].[tb_animal] CHECK CONSTRAINT [FK_tb_animal_tb_cliente]
GO
ALTER TABLE [dbo].[tb_animal]  WITH CHECK ADD  CONSTRAINT [FK_tb_animal_tb_raca] FOREIGN KEY([codigo_raca_animal])
REFERENCES [dbo].[tb_raca] ([codigo_raca_animal])
GO
ALTER TABLE [dbo].[tb_animal] CHECK CONSTRAINT [FK_tb_animal_tb_raca]
GO
ALTER TABLE [dbo].[tb_consulta]  WITH CHECK ADD  CONSTRAINT [FK_tb_consulta_tb_animal] FOREIGN KEY([codigo_animal])
REFERENCES [dbo].[tb_animal] ([numero_animal])
GO
ALTER TABLE [dbo].[tb_consulta] CHECK CONSTRAINT [FK_tb_consulta_tb_animal]
GO
ALTER TABLE [dbo].[tb_consulta]  WITH CHECK ADD  CONSTRAINT [FK_tb_consulta_tb_veterinario] FOREIGN KEY([codigo_veterinario])
REFERENCES [dbo].[tb_veterinario] ([codigo_veterinario])
GO
ALTER TABLE [dbo].[tb_consulta] CHECK CONSTRAINT [FK_tb_consulta_tb_veterinario]
GO
ALTER TABLE [dbo].[tb_raca]  WITH CHECK ADD  CONSTRAINT [FK_tb_raca_tb_tipo_animal] FOREIGN KEY([codigo_tipo_animal])
REFERENCES [dbo].[tb_tipo_animal] ([codigo_tipo_animal])
GO
ALTER TABLE [dbo].[tb_raca] CHECK CONSTRAINT [FK_tb_raca_tb_tipo_animal]
GO

-- DADOS


GO
INSERT INTO tb_tipo_animal VALUES
	('Cão', NULL),
	('Gato', NULL),
	('Peixe', NULL),
	('Rato', NULL)
GO
INSERT INTO tb_raca VALUES
	('Serra da Estrela', NULL, NULL, NULL, 1),
	('Boxer', NULL, NULL, NULL, 1),
	('Pastor Alemão', NULL, NULL, NULL, 1),
	('Labrador', NULL, NULL, NULL, 1),
	('Beagle', NULL, NULL, NULL, 1),
	('Bulldog', NULL, NULL, NULL, 1),
	('São Bernardo', NULL, NULL, NULL, 1),
	('Perdigueiro', NULL, NULL, NULL, 1),
	('Persa', NULL, NULL, NULL, 2),
	('Siamês', NULL, NULL, NULL, 2),
	('Ciclídeo', NULL, NULL, NULL, 3),
	('Discu', NULL, NULL, NULL, 3),
	('Hamster', NULL, NULL, NULL, 4),
	('Dawley', NULL, NULL, NULL, 4)




GO


INSERT tb_veterinario  VALUES (N'Luis Carlos', N'Rua A', N'1234-567', N'Lisboa', N'213456789', N'961234567', N'ana@gmail.com', N'521478963'),
							  (N'Bruno Pires', N'Rua B', N'1234-345', N'Loures', N'213456789', N'961234567', N'bruno@gmail.com', N'254169873'),
							  (N'Ana Rita', N'Rua C', N'1234-123', N'Lisboa', N'213456789', N'961234567', N'rita@gmail.com', N'112255996')

GO




GO

